{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="card p-3 p-lg-4">
                    <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h4">Search for Domain name</h1>
                    </div>
                    <form action="" method="post" class="mt-4">
                        <!-- Form -->
                        <div class="form-group mb-4">
                            <label for="email">write domain for your websit</label>
                            {% csrf_token %} 
                            <div class="input-group">
                                
                                <input type="text" class="form-control" placeholder="company.com" name="name" autofocus required>
                            </div>  
                        </div>
                        <!-- End of Form -->
                    
                        <div class="d-grid">
                            <button type="submit" class="btn btn-gray-800">add</button>
                        </div>
                    </form>
                   
                   
                </div>
            </div>
        </div>
    </div>
</div>



    
    <div class="row">
        <br>
        <div class="col-12 col-xl-8">
            <br>
            <div class="row">
                <div class="col-12 col-xxl-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                            <h2 class="fs-5 fw-bold mb-0">Domain name requsted to find</h2>
                            <button type="button" class="btn btn-block btn-gray-800 mb-3" data-bs-toggle="modal" data-bs-target="#modal-form">Add</button>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush list my--3">
                                {% for i in list %}
                                <li class="list-group-item px-0">
                                    <div class="row align-items-center">
                                        
                                        <div class="col-auto ms--2">
                                            <h4 class="h6 mb-0">
                                                <svg class="icon icon-xs text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                    {{i.name}}
                                            </h4>
                                           
                                        </div>
                                        <div class="col text-end">
                                            <form action="{% url 'website:domain_removemain' file.id %}" method="post">
                                                {% csrf_token %} 
                                                <input type="text" name="id" hidden value="{{i.id}}">
                                                <button type="submit" href="#" class="btn btn-sm btn-secondary d-inline-flex align-items-center">
                                                    Remove
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xxl-6 mb-4">
                    <div class="card border-0 shadow">
                        <div class="card-header border-bottom align-items-center justify-content-between">
                            <h2 class="fs-5 fw-bold mb-0">Similar Available Domain Aames</h2>
                            <div class="d-flex align-items-center">
                                <div class="bg-success me-1"></div>
                                <small>select one of the option listed below for your website domain name</small>
                            </div>
                          </div>
                          <div class="card-body">
                            <ul class="list-group list-group-flush list my--3">
                                {% for i in found_dname %}
                                <li class="list-group-item px-0">
                                    <div class="row align-items-center">
                                        
                                        <div class="col-auto ms--2">
                                            <h4 class="h6 mb-0">
                                                <svg class="icon icon-xs text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                    {{i.name}}
                                            </h4>
                                           
                                        </div>
                                        <div class="col text-end">
                                            <button type="button" class="btn btn-block btn-gray-800 mb-3" data-bs-toggle="modal" data-bs-target="#modal-achievement{{i.id}}">select</button>
                          
                                        </div>
                                    </div>
                                </li>
                                <div class="modal fade" id="modal-achievement{{i.id}}" tabindex="-1" role="dialog" aria-labelledby="modal-achievement" aria-hidden="true">
                                    <div class="modal-dialog modal-tertiary modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="btn-close theme-settings-close fs-6 ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
                                            <div class="modal-header mx-auto">
                                                <p class="lead mb-0 text-white">Are you sure you want to use this domain for your website?</p>
                                            </div>
                                            <div class="modal-body pt-0">
                                                <div class="py-3 px-5 text-center">
                                                    <h2 class="h3 modal-title mb-3 text-white">{{i.name}}</h2>
                                                    <p class="mb-4 text-white">After you chose this you have to pay another fee to change.</p>
                                                    
                                                </div>
                                            </div>
                                            <div class="modal-footer d-flex justify-content-center pt-0 pb-3">
                                                <form action="{% url 'website:domain_selected' file.id %}" method="post">
                                                    {% csrf_token %} 
                                                    <input type="text" name="id" hidden value="{{i.id}}">
                                                    <button type="submit" class="btn btn-sm btn-secondary d-inline-flex align-items-center" data-bs-dismiss="modal">Yes i want this doamin</button>
                                                    
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <br>
            <div class="col-12 px-0 mb-4">
                <div class="card border-0 shadow">
                    <div class="card-header border-bottom d-flex align-items-center justify-content-between">
                        <h2 class="fs-5 fw-bold mb-0">Email list</h2>
                        <a href="#" class="btn btn-sm btn-primary">See all</a>
                    </div>
                    <div class="card-body">
                        <div class="d-flex align-items-center justify-content-between border-bottom pb-3">
                            <div>
                                <div class="h6 mb-0 d-flex align-items-center">
                                    <svg class="icon icon-xs text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd"></path></svg>
                                    Global Rank
                                </div>
                            </div>
                            <div>
                                <a href="#" class="d-flex align-items-center fw-bold">
                                    #755
                                    <svg class="icon icon-xs text-gray-500 ms-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
